body{
    background-color: lightcoral;
}

.rating-box{
    text-align: left!important;
}

.ageinput{
    margin-left: 15px;
}

.agelabel{
    display: inline-block;
    padding-right: 25px;
}
.gender{
    margin-top: -8px!important;
}

/*.genderlabel{*/
    /*padding-right: 10px;*/
/*}*/

/*---------------navbar--------------*/

/*---------------index---------------*/

.all_movies{
    height: 260px;
}