body{
    background-color: orange;
}

.rating-box{
    text-align: left!important;
}

.ageinput{
    margin-left: 5px;
}

.agelabel{
    display: inline-block;
    padding-right: 25px;
}
.gender{
    padding: 0;
}