body{
    background-color: lightcoral;
}
.myReviews{
    background-color: lightcoral;

}

.rating-box{
    text-align: left!important;
}

.ageinput{
    margin-left: 15px;
}

.agelabel{
    display: inline-block;
    padding-right: 25px;
}
.gender{
    margin-top: -8px!important;
}

.movie-info{
    padding-bottom: 10px;
    padding-top: 10px;
}
.genre{
    padding-top: 15px;
}

/*---------------navbar--------------*/

/*---------------index---------------*/

.all_movies, all_reviews{
    height: 260px;
}