<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<div class="container">
    <form th:action="@{/login}" th:object="${user}" method="post">
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>
        <input type="submit" value="Enter"/>
    </form>



</div>

</body>
</html>